{% extends 'layout.html' %}

{% block title %}Recurring Transactions{% endblock %}

{% block content %}
<div class="container">
    <h1>Recurring Transactions</h1>
    {% if not original_transactions %}
        <p>No recurring transactions found.</p>
    {% else %}
        <ul>
            {% for transaction in original_transactions %}
                <li>
                    Category: {{ transaction.category.name }} <br>
                    Amount: {{ transaction.amount }} <br>
                    Description: {{ transaction.description }} <br>
                    Frequency: {{ transaction.frequency }} <br>
                    Start Date: {{ transaction.start_date }} <br>
                    End Date: {{ transaction.end_date }} <br>
                    <!-- Link to detail view -->
                    <a href="{% url 'recurring_transaction_detail' pk=transaction.pk %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
