{% extends 'layout.html' %}

{% load static %}

{% block title %}Transactions{% endblock %}

{% block content %}
<!-- Transaction Form -->
<a href="{% url 'index' %}" class="btn btn-secondary mt-3 ml-3 text-left">&larr; Back</a>
<div class="container body form">
    <h2>Add a transaction for {{ transaction_date|date:"F d, Y" }}</h2>

    {% if message %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <form method="post" action="{% url 'add_transaction' year=year month=month day=day %}">

        {% csrf_token %}
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number step=0.01 min=.01" class="form-control" id="amount" name="amount" placeholder="$0.00" required>
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category" name="category">
                <option value="" selected disabled>Select Existing Category</option>
                {% for category in form.category.field.queryset %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
                <label for="new_category">Or add new category:</label>
                <input type="text" class="form-control" id="new_category" name="new_category" placeholder="New Category Name">
                <button class="btn btn-primary mb-2 mt-2" type="button" id="add-category">Add Category</button>
        </div>
        
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>

        <div class="form-group">
            <label for="{{ form.recurring.id_for_label }}">Recurring:</label>
            {{ form.recurring }}    
        </div>
        
        <div class="form-group" id="frequencyField">
            <label for="frequency">Frequency:</label>
            <select class="form-control" id="frequency" name="frequency">
                <option value="monthly">Monthly</option>
                <option value="weekly">Weekly</option>
                <option value="biweekly">Bi-weekly</option>
                <option value="yearly">Yearly</option>
            </select>
        </div>

        <div class="form-group" id="endDateField">
            <label for="{{ form.end_date.id_for_label }}">End Date:</label>
            <input type="date" class="form-control" id="id_end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}">
            <small class="form-text text-muted">Default is one year from start date</small>
        </div>

        <div class="form-group">
            <label>Income or Expense:</label>
            {% for radio in form.is_income %}
                {{ radio }}
            {% endfor %}
        </div>

        <input hidden type="date" name="transaction_date" value="{{ transaction_date|date:'Y-m-d' }}">

        <button class="btn btn-primary" type="submit">Add Transaction</button>
    </form>
</div>


<!-- Transaction Tables -->
<div class="container" id="transactions">
    <h2>Transactions for {{ transaction_date|date:"F d, Y" }}</h2>
    <div class="row">
        <div class="col-md-6">
            {% if income_transactions %}
                <!-- Income Transactions Table -->
                <div class="transaction-table">
                    <h3>Income Transactions</h3>
                    <table class="income-transactions-table">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Recurring</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in income_transactions %}
                                <tr>
                                    <td>{{ transaction.category.name }}</td>
                                    <td>${{ transaction.amount }}</td>
                                    <td>{{ transaction.description }}</td>
                                    <td>{{ transaction.transaction_date|date:"F d, Y" }}</td>
                                    <td>{% if transaction.recurring %}Yes, {{ transaction.end_date|date:"F d, Y" }}{% else %}No{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No income transactions found</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if expense_transactions %}
                <!-- Expense Transactions Table -->
                <div class="transaction-table">
                    <h3>Expense Transactions</h3>
                    <table class="expense-transactions-table">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Recurring</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in expense_transactions %}
                                <tr>
                                    <td>{{ transaction.category.name }}</td>
                                    <td>${{ transaction.amount }}</td>
                                    <td>{{ transaction.description }}</td>
                                    <td>{{ transaction.transaction_date|date:"F d, Y" }}</td>
                                    <td>{% if transaction.recurring %}Yes{% else %}No{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No expense transactions found</p>
            {% endif %}
        </div>
    </div>
</div>

    <!-- Total Income and Expense -->
    <div class="monthly-overview-container mb-5">
        <div class="expenses">
            <h2>Daily Expenses</h2>
            <p>${{ total_expenses }}</p>
        </div>
        <div class="income">
            <h2>Daily Income</h2>
            <p>${{ total_income }}</p>
        </div>
        <div class="balance">
            <h2>Daily Balance</h2>
            <p>{% if balance > 0 %}<span class="surplus">+${{ balance }}</span>{% else %}<span class="deficit">-${{ balance }}</span>{% endif %}</p>
        </div>
        <div class="savings">
            <h2>Daily Savings</h2>
            <p>${{ savings }}</p>
        </div>        
    </div>  
</div>

<script src="{% static 'transactions.js' %}"></script>
{% endblock %}

