{% extends 'layout.html' %}

{% block title %}Transactions{% endblock %}

{% block content %}
<div class="container body form">
    <h1>Add a transaction for {{ transaction_date|date:"F d, Y" }}</h1>

    <form method="post" action="{% url 'add_transaction' transaction_date.year transaction_date.month transaction_date.day %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" class="form-control" id="amount" name="amount" required>
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" class="form-control" id="category" name="category">
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>

        <div class="form-group">
            <label for="recurring">Recurring:</label>
            {{ form.recurring }}    
        </div>
        
        {% if form.recurring.value %}
        <div class="form-group" id="frequencyField">
            <label for="frequency">Frequency:</label>
            <select class="form-control" id="frequency" name="frequency">
                <option value="monthly">Monthly</option>
                <option value="weekly">Weekly</option>
                <option value="biweekly">Biweekly</option>
                <option value="yearly">Yearly</option>
            </select>
        </div>
        {% endif %}
        
        

        <div class="form-group">
            <label>Income or Expense:</label>
            {% for radio in form.is_income %}
                {{ radio }}
            {% endfor %}
        </div>

        <input type="hidden" name="transaction_date" value="{{ transaction_date }}">

        <button class="btn btn-primary" type="submit">Add Transaction</button>
    </form>
</div>



<div class="container" id="transactions">
    <h2>Transactions for {{ transaction_date|date:"F d, Y" }}</h2>
    {% if income_transactions %}
        <!-- Income Transactions Table -->
        <div class="transaction-table">
            <h3>Income Transactions</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Recurring</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in income_transactions %}
                        <tr>
                            <td>{{ transaction.category.name }}</td>
                            <td>${{ transaction.amount }}</td>
                            <td>{{ transaction.description }}</td>
                            <td>{{ transaction.transaction_date|date:"F d, Y" }}</td>
                            <td>{% if transaction.recurring %}Yes{% else %}No{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% elif expense_transactions %}
        <!-- Expense Transactions Table -->
        <div class="transaction-table">
            <h3>Expense Transactions</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Recurring</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in expense_transactions %}
                        <tr>
                            <td>{{ transaction.category.name }}</td>
                            <td>${{ transaction.amount }}</td>
                            <td>{{ transaction.description }}</td>
                            <td>{{ transaction.transaction_date|date:"F d, Y" }}</td>
                            <td>{% if transaction.recurring %}Yes{% else %}No{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p>No transactions found</p>
    {% endif %}

    <!-- Total Income and Expense -->
    <div class="monthly-overview-container mb-5">
        <div class="expenses">
            <h2>Total Expenses</h2>
            <p>${{ total_expenses }}</p>
        </div>
        <div class="income">
            <h2>Total Income</h2>
            <p>${{ total_income }}</p>
        </div>
        <div class="balance">
            <h2>Total Balance</h2>
            <p>{% if total_balance > 0 %}<span class="surplus">$+{{ total_balance }}</span>{% else %}<span class="deficit">${{ total_balance }}</span>{% endif %}</p>
        </div>
        <div class="savings">
            <h2>Total Savings</h2>
            <p>${{ total_savings }}</p>
        </div>        
    </div>  
</div>

{% endblock %}

