.body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.registration-form {
    max-width: 400px;
    padding: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-group {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-danger {
    display: block;
    word-wrap: break-word;
    color: red;

}

.calendar-container {
    max-width: 1000px; 
    margin: 50px auto; 
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff;
    height: 100%;
    display: block;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #dddddd; 
}

table td {
    padding: 20px 15px; 
    text-align: center;
    border: 1px solid #dddddd;
    font-size: 24px; 
}

table th {
    background-color: #f2f2f2;
    color: #333333;
    padding: 20px 15px; 
    text-align: center;
    border: 1px solid #dddddd;
    font-size: 28px; 
}

table td.day:hover {
    background-color: #f9f9f9;
    cursor: pointer;
    font-weight: bold;
}


table td.current-day {
    font-weight: bold;
    background-color: #ffcccc;
    border: 2px solid #ff6666;
}

table td.current-day:hover {
    background-color: #ff9999;
    border: 2px solid #ff3333;
    font-weight: bold;
    cursor: pointer;
    text-shadow: #333333 0 1px 0;
}

.day-link {
    color: #333333;
    text-decoration: none !important; 
}

.day-link:hover {
    color: #333333;
    text-decoration: none !important; 
}

.monthly-overview-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.monthly-overview-container > div {
    width: 200px;
    padding: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monthly-overview-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.monthly-overview-container p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.expenses p {
    color: #ff3333;
}

.income p {
    color: #33cc33;
}

.savings p {
    color: #cc9933;
}

.surplus {
    color: green;
}

.deficit {
    color: red;
}

/* Add income and expense dots for the day or current day */
.day.income-dot.expense-dot .cell-content::after {
    content: "•"; 
    color: green;
    position: relative;
    bottom: -23px; 
    transform: translateX(-50%);
}

.day.income-dot .cell-content::after {
    content: "•"; 
    color: green;
    position: relative;
    bottom: -23px; 
    transform: translateX(-50%);
}

.day.expense-dot .cell-content::before {
    content: "•";  
    color: red;
    position: relative;
    bottom: -23px; 
    transform: translateX(-50%);
}

.current-day.income-dot .cell-content::after {
    content: "•"; 
    color: green;
    position: relative;
    bottom: -23px; 
    transform: translateX(-50%);
}

.current-day.income-dot.expense-dot .cell-content::after {
    content: "•";  
    color: green;
    position: relative;
    bottom: -23px; 
    transform: translateX(-50%);
}

.current-day.expense-dot .cell-content::before {
    content: "•";  
    color: red;
    position: relative;
    bottom: -23px; 
    transform: translateX(-50%);
}

.help-block {
    font-size: 14px;
    margin-bottom: 20px;
}

.expense-dot {
    color: red;
}

.income-dot {
    color: green;
}


/* Style checkbox */
.form-group input[type="checkbox"] {
    width: 30px; 
    height: 30px; 
    border: 1px solid #999; 
    border-radius: 3px; 
    margin-bottom: 5px;
}

/* Transaction-table */
#transactions {
    margin-top: 50px;
    margin-bottom: 50px;
}

#transactions h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.transaction-table {
    margin-bottom: 30px;
}

.transaction-table table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.transaction-table th {
    background-color: #f2f2f2;
}

.transaction-table tbody tr:hover {
    background-color: #f5f5f5;
}

.expense-transactions-table,
.income-transactions-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.expense-transactions-table th,
.income-transactions-table th,
.expense-transactions-table td,
.income-transactions-table td {
    padding: 10px;
    text-align: left;
}

.expense-transactions-table th,
.income-transactions-table th {
    background-color: #f2f2f2;
    font-size: 18px;
}

.expense-transactions-table tbody tr:hover,
.income-transactions-table tbody tr:hover {
    background-color: #f5f5f5;
}

#frequencyField {
    display: none;
}

#endDateField {
    display: none;
}

.transaction-table td {
    font-size: 16px;   
}

.container.body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-header {
    padding: 10px 15px;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    margin-bottom: 0;
}

.expenses {
    color: #ff3333;
}

.income {
    color: #33cc33;
}

.savings {
    color: #cc9933;
}

/* Responsive styles for calendar */
@media screen and (max-width: 768px) {
    .calendar-container {
        padding: 10px;
    }

    table {
        font-size: 16px;
    }

    table th,
    table td {
        padding: 15px;
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    .calendar-container {
        padding: 5px;
    }

    table {
        font-size: 14px;
    }

    table th,
    table td {
        padding: 10px;
        font-size: 16px;
    }
}

/* Adjust button size for smaller screens */
@media screen and (max-width: 768px) {
    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/* Adjust text alignment for smaller screens */
@media screen and (max-width: 576px) {
    #calendar-container,
    p.text-muted {
        text-align: left;
    }
}

.calendar {
    width: 100%;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

/* Adjust font size for smaller screens */
@media screen and (max-width: 768px) {
    .calendar th,
    .calendar td {
        font-size: 14px;
    }
}
